<div class="flex justify-between p-8 bg-black text-white rounded-lg mb-10">
  <div class="flex flex-col text-2xl">
    <p>Id: {{ id }}</p>
    <p>Name: {{ name }}</p>
    <p>Description: {{ description }}</p>
  </div>
  <div class="flex flex-col">
    <div class="flex w-60 justify-between">
      <div class="text-2xl">
        Fields:
      </div>
      <div class="flex flex-wrap text-xl w-32">
        list
        list
        list
        list
        list
        list
        list
        list
      </div>
    </div>
    <div class="bg-white text-black w-28 mt-6 text-center mx-auto rounded-lg text-xl hover:text-white hover:bg-black hover: border-white border-2 cursor-pointer select-none">
      Add Fields
    </div>
  </div>
</div>