<div class="flex flex-row text-4xl items-center space-x-6 pt-10 group justify-center">
  <div class="w-3/12 text-center border-2 rounded-lg bg-black text-white py-3.5 hover:text-black hover:bg-white hover: border-black">
    <a routerLink="/categories">Product categories</a>
  </div>
  <div class="w-3/12 text-center border-2 rounded-lg bg-black text-white py-3.5 hover:text-black hover:bg-white hover: border-black">
    <a routerLink="/create">Create product</a>
  </div>
  <div class="w-3/12 text-center border-2 rounded-lg bg-black text-white py-3.5 hover:text-black hover:bg-white hover: border-black">
    <a routerLink="/all">View all products</a>
  </div>
</div>